.home {
  background: url(../Images/img1.jpg) no-repeat center center/cover;
  position: relative;
  padding-bottom: 4rem;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 3px;
  word-spacing: 1.2px;
}

.home-content .home-left {
  padding-left: 9rem;
  padding-top: 12rem;
}

.home-content .text-secondary {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: bold;
}

.button {
  text-transform: uppercase;
  background-color: transparent;
  border: 4px solid white;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 1rem 3.8rem;
  margin: 5rem 2rem 2rem 0rem;
}

.button:hover {
  background-color: white;
  border: 4px solid white;
  color: black;
}

.right-icons {
  flex-direction: column;

  right: 0;
}

.right-icons a {
  padding: 1rem 2rem 1rem 0rem;
}

.right-icons .icon-name i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 2rem;
  border: 3px solid white;
  color: white;
}

.right-icons .icon-name span {
  margin-right: 3rem;
  position: absolute;
  color: #39b54a;
  font-size: 1rem;
  opacity: 0;
  transition: 0.6s ease-in-out;
  width: fit-content;
}

.right-icons .icon-name span:hover {
  opacity: 1;
  transform: translateX(-50%);
}
