* {
  margin: 0;
  padding: 0;
  font-family: "montserrat-medium", sans-serif;
}

body {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  background: url(../img/img1.jpg) no-repeat center center/cover;
  height: 140vh;
  position: relative;
}

.header-logo {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
}

.header-logo img {
  height: 2.3rem;
  cursor: pointer;
}

.header-menu {
  cursor: pointer;
}

.header-menu .header-toggle-menu {
  display: flex;
  gap: 0.8rem;
  padding-top: 2rem;
  padding-right: 2.5rem;
  position: fixed;
  float: right;
  right: 0;
}

.header-menu .menu-name {
  color: rgb(3, 172, 3);
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding-top: 0.2rem;
}

.right-icons {
  height: 50vh;
  margin-top: 18rem;
  /* position: absolute; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  right: 0;
}

.right-icons a {
  width: 80%;
  padding: 1rem;
  padding-right: 4rem;

}

.right-icons .icon-name i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 2rem;
  border: 3px solid white;
  color: white;
}

.right-icons .icon-name span{
  margin-right: 4rem;
  position: absolute;
  color: #39b54a;
  font-size: 1.2rem;
 opacity: 0;
  transition: 0.6s ease-in-out;
  width: fit-content;
}

.right-icons .icon-name span:hover {
  opacity: 1;
  transform: translateX(-50%);
}

.nav-container {
  padding-right: 3rem;
  width: 18%;

}

.nav-container .nav_menu {
  background-color: rgb(22, 22, 22);
  position: fixed;
  height: 100vh;
  z-index: 1;

}

.navbar {
  letter-spacing: 2px;
  padding-left: 2rem;
}

.nav-name {
  color: rgb(3, 172, 3);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.nav-icon {
  height: 1.6rem;
  width: 1.6rem;
  text-align: center;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
}

.nav-item {
  margin-bottom: 1.2rem;
}

.nav_link {
  color: white;
  font-weight: bold;
}

.nav_link:hover {
  color: white;
}

.nav-para {
  padding-left: 2rem;
  color: gray;
  padding-top: 2rem;
}

.nav-para b:hover {
  color: white;
}

.icons i {
  margin-top: 1.5rem;
  margin-right: 0.9rem;
  color: gray;
  cursor: pointer;
}

.icons i:hover {
  color: white;
}

.arrow {
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: rgb(10, 10, 10);
  text-align: end;
  float: right;
  font-size: 1.3rem;
  margin-left: 8rem;
}
