footer {
  padding-top: 3rem;
  background-color: #070707;
  width: 100%;
  position: relative;
  line-height: 2;
  font-family: "montserrat-light", sans-serif;
}

.footer-content {
  display: flex;
  align-items: center;
  padding: 2rem 7rem 2rem 7rem;
  color: rgba(255, 255, 255, 0.3);
}

.footer .fdesc,
.fsubsc {
  width: 90%;
}

.footer .fdesc img {
  height: 2rem;
}

.footer p {
  font-size: 1.1rem;
  padding-top: 2rem;
}

.footer .fsubsc h5 {
  color: #fff;
  font-weight: 600;
}

.fform {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  word-spacing: 1px;
  background-color: #000;
}

.fform input {
  background-color: transparent;
  border: none;
  outline: none;
  color: gray;
  font-size: 1rem;
  padding: 2rem .8rem 2rem .8rem;
}

.footer i {
  color: #fff;
  font-size: 2rem;
  margin-right: 1rem;
  padding-left: 1rem;
}

.footer button {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #39b54a;
  letter-spacing: 2px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.footer .flast {
  text-align: center;
  font-size: 1.1rem;
  padding: 4rem 1rem 4rem;
  color: rgb(102, 102, 102);
}

.flast a {
  color: #39b54a;
}
