*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-medium", sans-serif;

}

.container {
  max-width: 1500px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  /* margin: auto; */
}

